<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311327981680-fubn4v18t1jt9lvqks7lvhjp4ilfoc7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311327981680-fubn4v18t1jt9lvqks7lvhjp4ilfoc7k</string>
	<key>API_KEY</key>
	<string>AIzaSyC0wjVSgIAYfU0Z0pkej1hNOLX9aeUDEQA</string>
	<key>GCM_SENDER_ID</key>
	<string>311327981680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemadeuae</string>
	<key>PROJECT_ID</key>
	<string>we-made-4ff1a</string>
	<key>STORAGE_BUCKET</key>
	<string>we-made-4ff1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311327981680:ios:0528d3cf2e4c2653b474b5</string>
</dict>
</plist>